Flask==2.3.2
gunicorn==20.1.0
# Try a widely available numpy version for Python 3.9
numpy==1.23.5
scipy==1.9.3 # Explicitly add a compatible scipy version
librosa==0.9.1
resemblyzer==0.1.4
face_recognition==1.3.0
opencv-python==4.9.0.80
mysql-connector-python==8.3.0
flask-cors==4.0.0
setuptools>=70.0.0
wheel>=0.40.0